.btn {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 5px;
  transition: background-color .3s, color .3s, opacity .3s;
}

.btn-small {
  display: inline-block;
  padding: .375rem .75rem;
  border-radius: 5px;
  transition: background-color .3s, color .3s, opacity .3s;
}

.btn-large {
  display: inline-block;
  padding: .75rem 1.25rem;
  transition: background-color .3s, color .3s, opacity .3s;
  @include md {
    padding: .75rem;
  }
  @include lg {
    padding: .75rem 3rem;
  }
}

.btn--rounded {
  border-radius: 0 5px 5px 0;
} 

.btn--ellipse {
  padding: .25rem 1rem;
  border-radius: 16px;
}

.btn-warning {
  background-color: #F5F0E7;
  color: #707070;
  &:hover {
    background-color: #C0A4A5;
    color: #fff;
  }
  &.is-active {
    background-color: #C0A4A5;
    color: #fff;
  }  
}

.btn-primary {
  background-color: #907A7B;
  color: #fff;
  &:hover {
    background-color: rgba(#907A7B,0.7);
  }
}

.btn-secondary {
  background-color: #C0A4A5;
  color: #fff;
  &:hover {
    background-color: rgba(#C0A4A5,0.7);
  }
}

.btn-white {
  background-color: #fff;
  color: #907A7B;
  &:hover {
    background-color: rgba(#fff,0.7);
  }
}


