// hero
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  background-image: url(../../assets/images/bg/bg-hero.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 2.5rem;
}
// hero end