body{
  font-family: 'Noto Sans TC', serif;
  overflow-x: hidden;
}

input:focus,button:focus,textarea:focus,select:focus{
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  -webkit-appearance: none;
  border-radius: 0;
}

label {
  display: block;
}

span {
  display: inline-block;
}
